
#main_content{
    display: inline-block;
    background-color:rgb(4, 4, 15);
    list-style-type: circle;
    border-radius: 15px;
}
p {
    color:lightgrey;
    display: inline;
    padding: 5px;
}
h2 {
    color:lightgrey;
}

span {
    color:blueviolet
}

li{
    color:lightgrey;
    padding:10px;
}

a{
    color:lightseagreen;
}